/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
app/Traits/Mailer.php
/venv
/deakzsolt
/lib
/bin
/include
pip-selfcheck.json
.Python
dump.rdb
go-pear.phar
composer.phar
composer.lock